@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    font-family: "Merriweather", serif;
}
/* banner section style start  */
.banner-container{
    max-width: 1320px;
    background-color: rgba(0,0,0,.5);
    background-blend-mode: overlay;
    min-height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-image: url("../assest/images/Banner\ Image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;

}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    
   
}
.banner-content h1{
    color: white;
    font-size: 72px;
    font-weight: 900;
}
.banner-content p{
    color: white;
    font-size: 32px;
    font-weight: 400;
}
/* banner section style end  */

/* 65% -section-container start */
.second-section-container{
    max-width: 803px;
    min-height: 806px;
    margin: 120px auto;
}
.second-section-content{
    text-align: center;
}
.second-section-content h1{
    color: rgb(255, 0, 0);
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: 0%;
    font-family: Inter;
}
.second-section-content p{
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    font-family: Inter;
    margin-top: 40px;
    margin-bottom: 15px;
}
.second-section-content h3{
    
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    
}
.image-container{
    width: 802.9px;
    height: 500px;
    margin-top: 50px;
}
.image-container img{
    width: 100%;
    height: 100%;
}
/* 65% -section-container End */

/* midnight party section satrt here  */
.midnight-party-contianer{
    background-image:url("../assest/images/Vectorrr.png");
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    background-color: rgba(0,0,0,.6);
    background-blend-mode: overlay;
    border-radius: 16px;
    margin-bottom: 120px;
}
.leftside-content{
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rightside-content{
    width: 50%;
    height: 600px;
}
.leftside-content h1{
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    font-family: Merriweather;
}
.leftside-content p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Inter;
    padding: 20px 50px 10px 50px;
    opacity: .8;
}
#midnight-btn{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 750;
    line-height: 18px;
    letter-spacing: 0%;
    text-transform: uppercase;
    font-family: Inter;
    opacity: .75;
    margin-right: 0px;
}
.rightside-content{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .8; 
}
/* midnight party section end here  */

 /* party place section start here */
 .party-place-conatiner{
    max-width: 1320px;
    height: 482px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
    background-image: linear-gradient(180.00deg, rgba(243, 220, 220, 0.993),rgba(252, 251, 251, 0.993) 100%),url("../assest/images/Rectangle\ 15.png");
    border-radius: 16px;
 }
 .party-place-content{
    width: 549px;
    height: 272px;
    
    text-align: center;
    
 }
 .party-place-content h2{
    font-family: Inter;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0%;
    text-transform: capitalize;
    font-size: 28px;
 }
 .party-place-content h2 span{
    color: red;
 }
 .party-btn{
    background-color: red;
    width: 167px;
    height: 56px;
    padding: 16px 32px 16px 32px;
    border-radius: 8px;
    border: none;
    color: white;
    margin-top: 20px;
 }
 /* coming-soon-section start  */
 .coming-soon-container{
    max-width: 1320px;
    height: 463px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 120px;
    
 }
 .coming-soon-text{
    
    width: 33.33%;
    height: 463px;
    display: flex;
    align-items: center;
 }
 .coming-soon-pic{
    
    width: 33.33%;
    height: 463px;
 }
 .coming-soon-icon{
    
    width: 33.33%;
    height: 463px;
 }
 .coming-soon-text-content{
    width: 393px;
    height: 255px;
    
    
 }
 .coming-soon-text-content h4{
    color: rgb(255, 0, 0);
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    font-family: Inter;
    padding-bottom: 10px;
 }
 .coming-soon-text-content h2{
    font-weight: 800;
    padding-bottom: 10px;

 }
 .coming-soon-text-content p{
    font-family: Inter;
    opacity: .6;
    line-height: 32px;
    letter-spacing: 0%;
 }
 .coming-soon-pic{
   position: relative;
 }

.coming-soon-pic img{
    position: absolute;
    
}
.coming-soon-pic .elleps-one{
    top: 40px;
    left: 38px;
    
}
.coming-soon-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/* footer section  */
.footer-container{
    max-width: 1600px;
    height: 609px;
    background-color: black;
}
.footer-first-section{
    max-width: 1600px;
    height: 203px;
    display: flex;
}
.footer-first-section-address{
    width: 800px;
    height: 203px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 550;
    line-height: 30px;
    letter-spacing: 0%;
    font-family: Inter;
    display:flex ;
    justify-content: center;
    align-items: center;
}
.footer-first-section-contact{
    width: 800px;
    height: 203px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    font-family: Inter;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-icon-section{
    max-width: 1600px;
    height: 203px;
    display:flex ;
    justify-content: center;
    align-items: center;
    gap: 30px;

}
.footer-icon-section img{
    border: 2px dashed rgb(136, 131, 131);
}

.footer-last-section{
    max-width: 1600px;
    height: 203px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Inter;
    display:flex ;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
hr{
    opacity: .5;
}
.holyday-sale-container{
    max-width: 1320px;
    height: 986px;
    margin: 0 auto;
    margin-bottom: 120px;
    position: relative;
    margin-bottom: 120px;
}
.holyday-sale-first-section{
    width: 1068px;
    height: 260px;
    margin: 0 auto;
    text-align: center;
}
.holyday-sale-first-section h4{
    color: rgb(7, 2, 17);
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    font-family: Inter;
    opacity: .7;
}
.holyday-sale-first-section h1{
    font-family: Merriweather;
    font-weight: 900;
    line-height: 91px;
    letter-spacing: 0%;
    font-size: 72px;
}
.holyday-sale-first-section h1 span{
    color: red;
}
.holyday-sale-first-section p{
    color: rgba(7, 2, 17, 0.6);
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0%;
    font-family: Inter;
}
.holyday-sale-banner-section{
    width: 1320px;
    height: 229px;
    background-color: red;
    position: absolute;
    top: 753px;
}
.giftbox{
    width: 674.82px;
    height: 577.96px;
    position: relative;
    z-index: 1;
}
.portfolio-container{
    width: 1320px;
    height: 1163px;
    margin: 0 auto;
    margin-bottom: 120px;
}
.portfolio-text h4{
    color: rgb(255, 0, 0);
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    font-family: Inter;
}
.portfolio-text h2{
    color: rgb(7, 2, 17);
    font-size: 45px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-transform: capitalize;
    font-family: Merriweather;
}
.portfolio-text p{
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    font-family: Inter;
    margin-bottom: 20px;
}
.portfolio-item{
    width: 424px;
    height: 450px;
    
}
.portfolio-item img{
    width: 100%;
    height: 100%;
    border: 2px dashed rgb(216, 212, 212);
}
.portfolio-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.newsletter-container{
    max-width: 1320px;
    height: 616px;
    margin: 0 auto;
    margin-bottom: 120px;
    background-color:rgb(250, 239, 239);
    border-radius: 16px;
}
.mail-icon{
    text-align: center;
    padding-top: 100px;
}
.mail-icon img{
    border: 2px dashed rgb(180, 177, 177);
}
.newsletter-content{
    text-align: center;
    margin:50px 0px;
}
.newsletter-content h2{
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-transform: capitalize;
    font-family: Merriweather;
    padding-bottom: 10px;
}
.newsletter-content p{
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    font-family: Inter;
}
.newsletter-btn{
    width: 648px;
    height: 72px;
    margin: 0 auto;
    position: relative;
}
.newsletter-btn h3{
    position: absolute;
    bottom: 21px;
    left: 77%;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: Inter;
}
.newsletter-btn input{    
    width: 648px;
    height: 72px;
    border-radius: 60px;
    border: none;
    padding-left: 30px;
    background-image: url("../assest/images/Rectangle\ 13.png");
    background-repeat: no-repeat;
    background-position: right;
}    