@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    font-family: "Merriweather", serif;
}
/* banner section style start  */
.banner-container{
    max-width: 1320px;
    background-color: rgba(0,0,0,.5);
    background-blend-mode: overlay;
    min-height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-image: url("../assest/images/Banner\ Image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;

}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    
   
}
.banner-content h1{
    color: white;
    font-size: 72px;
    font-weight: 900;
}
.banner-content p{
    color: white;
    font-size: 32px;
    font-weight: 400;
}
/* banner section style end  */

/* 65% -section-container start */
.second-section-container{
    max-width: 803px;
    min-height: 806px;
    margin: 120px auto;
}
.second-section-content{
    text-align: center;
}
.second-section-content h1{
    color: rgb(255, 0, 0);
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: 0%;
    font-family: Inter;
}
.second-section-content p{
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    font-family: Inter;
    margin-top: 40px;
    margin-bottom: 15px;
}
.second-section-content h3{
    
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    
}
.image-container{
    width: 802.9px;
    height: 500px;
    margin-top: 50px;
}
.image-container img{
    width: 100%;
    height: 100%;
}
/* 65% -section-container End */

/* midnight party section satrt here  */
.midnight-party-contianer{
    background-image:url("../assest/images/Vectorrr.png");
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    background-color: rgba(0,0,0,.6);
    background-blend-mode: overlay;
    border-radius: 16px;
    margin-bottom: 120px;
}
.leftside-content{
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rightside-content{
    width: 50%;
    height: 600px;
}
.leftside-content h1{
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    font-family: Merriweather;
}
.leftside-content p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Inter;
    padding: 20px 50px 10px 50px;
    opacity: .8;
}
#midnight-btn{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 750;
    line-height: 18px;
    letter-spacing: 0%;
    text-transform: uppercase;
    font-family: Inter;
    opacity: .75;
    margin-right: 0px;
}
.rightside-content{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .8; 
}
/* midnight party section end here  */

 /* party place section start here */
 .party-place-conatiner{
    max-width: 1320px;
    height: 482px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
    background-image: linear-gradient(180.00deg, rgba(243, 220, 220, 0.993),rgba(252, 251, 251, 0.993) 100%),url("../assest/images/Rectangle\ 15.png");
    border-radius: 16px;
 }
 .party-place-content{
    width: 549px;
    height: 272px;
    
    text-align: center;
    
 }
 .party-place-content h2{
    font-family: Inter;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0%;
    text-transform: capitalize;
    font-size: 28px;
 }
 .party-place-content h2 span{
    color: red;
 }
 .party-btn{
    background-color: red;
    width: 167px;
    height: 56px;
    padding: 16px 32px 16px 32px;
    border-radius: 8px;
    border: none;
    color: white;
    margin-top: 20px;
 }
